<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ghh.pro.mapper.AnalysisMapper" >
  <resultMap id="BaseResultMap" type="com.ghh.pro.bean.Analysis" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="proname" property="proname" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="simpledis" property="simpledis" jdbcType="VARCHAR" />
    <result column="detaileddis" property="detaileddis" jdbcType="VARCHAR" />
    <result column="addtime" property="addtime" jdbcType="DATE" />
    <result column="updatetime" property="updatetime" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, proname, title, simpledis, detaileddis, addtime, updatetime, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ghh.pro.bean.AnalysisExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from analysis
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from analysis
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from analysis
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ghh.pro.bean.AnalysisExample" >
    delete from analysis
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ghh.pro.bean.Analysis" >
    insert into analysis (id, proname, title, 
      simpledis, detaileddis, addtime, 
      updatetime, remark)
    values (#{id,jdbcType=INTEGER}, #{proname,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{simpledis,jdbcType=VARCHAR}, #{detaileddis,jdbcType=VARCHAR}, #{addtime,jdbcType=DATE}, 
      #{updatetime,jdbcType=DATE}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ghh.pro.bean.Analysis" >
    insert into analysis
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="proname != null" >
        proname,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="simpledis != null" >
        simpledis,
      </if>
      <if test="detaileddis != null" >
        detaileddis,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="proname != null" >
        #{proname,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="simpledis != null" >
        #{simpledis,jdbcType=VARCHAR},
      </if>
      <if test="detaileddis != null" >
        #{detaileddis,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=DATE},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ghh.pro.bean.AnalysisExample" resultType="java.lang.Integer" >
    select count(*) from analysis
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update analysis
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.proname != null" >
        proname = #{record.proname,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.simpledis != null" >
        simpledis = #{record.simpledis,jdbcType=VARCHAR},
      </if>
      <if test="record.detaileddis != null" >
        detaileddis = #{record.detaileddis,jdbcType=VARCHAR},
      </if>
      <if test="record.addtime != null" >
        addtime = #{record.addtime,jdbcType=DATE},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=DATE},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update analysis
    set id = #{record.id,jdbcType=INTEGER},
      proname = #{record.proname,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      simpledis = #{record.simpledis,jdbcType=VARCHAR},
      detaileddis = #{record.detaileddis,jdbcType=VARCHAR},
      addtime = #{record.addtime,jdbcType=DATE},
      updatetime = #{record.updatetime,jdbcType=DATE},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ghh.pro.bean.Analysis" >
    update analysis
    <set >
      <if test="proname != null" >
        proname = #{proname,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="simpledis != null" >
        simpledis = #{simpledis,jdbcType=VARCHAR},
      </if>
      <if test="detaileddis != null" >
        detaileddis = #{detaileddis,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=DATE},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ghh.pro.bean.Analysis" >
    update analysis
    set proname = #{proname,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      simpledis = #{simpledis,jdbcType=VARCHAR},
      detaileddis = #{detaileddis,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=DATE},
      updatetime = #{updatetime,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
<!--模糊查询-->
  <select id="searchByLike" resultType="com.ghh.pro.bean.Analysis">
      SELECT *
      FROM analysis
      WHERE
      <!--<if test="cid==0">-->
        <!--proname like concat(concat('%',#{keyworld}),'%')  or  title like concat(concat('%',#{keyworld}),'%')-->
      <!--</if>-->
      <!--<if test="cid==1">-->
        <!--proname like concat(concat('%',#{keyworld}),'%')-->
      <!--</if>-->
      <!--<if test="cid==2">-->
        <!--title like concat(concat('%',#{keyworld}),'%')-->
      <!--</if>-->
    <if test="cid==0">
      proname like '%${keyworld}%'  or  title like '%${keyworld}%'
    </if>
    <if test="cid==1">
      proname like '%${keyworld}%'
    </if>
    <if test="cid==2">
      title like '%${keyworld}%'
    </if>
      <if test="orderby==1">
        order by addtime
      </if>
      <if test="orderby==1">
        order by updatetime
      </if>
  </select>
</mapper>