<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ghh.pro.mapper.ModelMapper" >
  <resultMap id="BaseResultMap" type="com.ghh.pro.bean.Model" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="proname" property="proname" jdbcType="VARCHAR" />
    <result column="analysis_fk" property="analysisFk" jdbcType="INTEGER" />
    <result column="modname" property="modname" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="simpledis" property="simpledis" jdbcType="VARCHAR" />
    <result column="detaileddis" property="detaileddis" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, proname, analysis_fk, modname, level, simpledis, detaileddis, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ghh.pro.bean.ModelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from module
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from module
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from module
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ghh.pro.bean.ModelExample" >
    delete from module
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ghh.pro.bean.Model" >
    insert into module (id, proname, analysis_fk, 
      modname, level, simpledis, 
      detaileddis, remark)
    values (#{id,jdbcType=INTEGER}, #{proname,jdbcType=VARCHAR}, #{analysisFk,jdbcType=INTEGER}, 
      #{modname,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, #{simpledis,jdbcType=VARCHAR}, 
      #{detaileddis,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ghh.pro.bean.Model" >
    insert into module
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="proname != null" >
        proname,
      </if>
      <if test="analysisFk != null" >
        analysis_fk,
      </if>
      <if test="modname != null" >
        modname,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="simpledis != null" >
        simpledis,
      </if>
      <if test="detaileddis != null" >
        detaileddis,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="proname != null" >
        #{proname,jdbcType=VARCHAR},
      </if>
      <if test="analysisFk != null" >
        #{analysisFk,jdbcType=INTEGER},
      </if>
      <if test="modname != null" >
        #{modname,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="simpledis != null" >
        #{simpledis,jdbcType=VARCHAR},
      </if>
      <if test="detaileddis != null" >
        #{detaileddis,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ghh.pro.bean.ModelExample" resultType="java.lang.Integer" >
    select count(*) from module
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update module
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.proname != null" >
        proname = #{record.proname,jdbcType=VARCHAR},
      </if>
      <if test="record.analysisFk != null" >
        analysis_fk = #{record.analysisFk,jdbcType=INTEGER},
      </if>
      <if test="record.modname != null" >
        modname = #{record.modname,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null" >
        level = #{record.level,jdbcType=VARCHAR},
      </if>
      <if test="record.simpledis != null" >
        simpledis = #{record.simpledis,jdbcType=VARCHAR},
      </if>
      <if test="record.detaileddis != null" >
        detaileddis = #{record.detaileddis,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update module
    set id = #{record.id,jdbcType=INTEGER},
      proname = #{record.proname,jdbcType=VARCHAR},
      analysis_fk = #{record.analysisFk,jdbcType=INTEGER},
      modname = #{record.modname,jdbcType=VARCHAR},
      level = #{record.level,jdbcType=VARCHAR},
      simpledis = #{record.simpledis,jdbcType=VARCHAR},
      detaileddis = #{record.detaileddis,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ghh.pro.bean.Model" >
    update module
    <set >
      <if test="proname != null" >
        proname = #{proname,jdbcType=VARCHAR},
      </if>
      <if test="analysisFk != null" >
        analysis_fk = #{analysisFk,jdbcType=INTEGER},
      </if>
      <if test="modname != null" >
        modname = #{modname,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="simpledis != null" >
        simpledis = #{simpledis,jdbcType=VARCHAR},
      </if>
      <if test="detaileddis != null" >
        detaileddis = #{detaileddis,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ghh.pro.bean.Model" >
    update module
    set proname = #{proname,jdbcType=VARCHAR},
      analysis_fk = #{analysisFk,jdbcType=INTEGER},
      modname = #{modname,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      simpledis = #{simpledis,jdbcType=VARCHAR},
      detaileddis = #{detaileddis,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>